@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@font-face {
    font-family: "Fixel Regular";
    src: url("./assets/fonts/FixelText-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Fixel Bold";
    src: url("./assets/fonts/FixelText-Bold.otf") format("opentype");
}
@font-face {
    font-family: "Fixel Light";
    src: url("./assets/fonts/FixelText-Light.otf") format("opentype");
}
@font-face {
    font-family: "Fixel SemiBold";
    src: url("./assets/fonts/FixelText-SemiBold.otf") format("opentype");
}
@font-face {
    font-family: "Coolvetica Regular";
    src: url("./assets//fonts/coolvetica\ rg.otf") format("opentype");
}
@font-face {
    font-family: "Coolvetica Regular Italic";
    src: url("./assets//fonts/coolvetica\ rg\ it.otf") format("opentype");
}

* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #303030 #f5f5f5 #303030;
    scroll-behavior: smooth;
}

.section-heading {
    font-family: "Fixel Bold", sans-serif;
    font-weight: 700;
    color: #303030;
    font-size: clamp(1.5rem, 5vw, 2.5rem);
    margin-bottom: clamp(0rem, 5vw, 2.5rem);
    line-height: 1;
}

.section-sub-heading {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.37);
    font-size: clamp(1rem, 5vw, 1.5rem);
}