/* Home Page */

.home-page {
    gap: clamp(3rem, 5vw, 10.125rem);
}

/* Hero Section */

section.home-hero-section {
    padding: 0 clamp(0rem, 4vw, 5.13rem);
    padding-top: clamp(0rem, 5vw, 3.5rem);
}

@keyframes appearFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

section.home-hero-section .left-images img {
    transition: all 0.3s ease-in-out;
    opacity: 0;
    animation: appearFromLeft 0.5s 2s ease-in-out forwards;
}

@keyframes appearFromRight {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

section.home-hero-section .right-images img {
    transition: all 0.3s ease-in-out;
    opacity: 0;
    animation: appearFromRight 0.5s 2s ease-in-out forwards;
}

section.home-hero-section .right-images img,
section.home-hero-section .left-images img {
    width: clamp(10rem, 50vw, 32rem);
}

section.home-hero-section .right-images,
section.home-hero-section .left-images {
    width: clamp(10rem, 50vw, 32rem);
    max-width: 513px;
    gap: clamp(0rem, 5vw, 1.25rem);
}

section.home-hero-section .hero-text {
    padding: 0 clamp(0rem, 5vw, 5rem);
    padding-top: clamp(0rem, 10vw, 25rem);
}

@keyframes hero-text-appear {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    50% {
        opacity: 1;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(50);
    }
}

section.home-hero-section .hero-text .head-text h1 {
    font-size: clamp(1.5rem, 5vw, 5rem);
    font-family: "Fixel Bold", sans-serif;
    font-weight: 700;
    color: #303030;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

section.home-hero-section .hero-text .head-text h1 {
    opacity: 0;
    animation: hero-text-appear 0.5s ease-in-out forwards;

    &:nth-child(1) {
        animation-delay: 0.5s;
    }

    &:nth-child(2) {
        animation-delay: 1s;
    }

    &:nth-child(3) {
        animation-delay: 1.5s;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

section.home-hero-section .hero-text .sub-text {
    font-size: clamp(0rem, 5vw, 1.5rem);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #8F8F8F;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    animation: fade-in 0.6s 2s ease-in-out forwards;
}

section.home-hero-section .hero-text .hero-sm-images img {
    height: clamp(10rem, 30vw, 30rem);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

section.home-hero-section .hero-text .hero-sm-images img:nth-child(1) {
    animation: appearFromLeft 0.5s 2.5s ease-in-out forwards;
}

section.home-hero-section .hero-text .hero-sm-images img:nth-child(2) {
    animation: appearFromRight 0.5s 2.5s ease-in-out forwards;
}

@keyframes jump-up-down {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }

}

section.home-hero-section .hero-text .arrow-down svg {
    height: clamp(0rem, 5vw, 2rem);
    stroke: #303030;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

/* Second Section */

section.home-second-section {
    padding: 0 clamp(0rem, 4vw, 5.13rem);
}

section.home-second-section .home-second-section-content {
    padding: 0 clamp(0rem, 5vw, 5.75rem);
    padding-top: clamp(0rem, 5vw, 3.5rem);
}

/* section.home-second-section .home-second-section-content .arrows {
    background-color: rgba(255, 255, 255, 0.2);
} */

section.home-second-section .home-second-section-content .carousel-container {
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

section.home-second-section .home-second-section-content .home-section-services-card {
    height: clamp(10rem, 30vw, 37.25rem);
    padding: clamp(0rem, 5vw, 3rem) clamp(0rem, 5vw, 2rem);
    scroll-snap-align: center;
    box-shadow: inset 0 -150px 100px rgba(0, 0, 0, 0.5);
    transition: all 0.7s ease-in-out;

    .home-section-services-card-title {
        color: white;
        transform: translateY(95%);
        transition: all 0.7s ease-in-out;

        span {
            font-family: "Fixel Regular", sans-serif;
            font-size: clamp(0rem, 5vw, 1.5rem);
            transition: all 0.7s ease-in-out;
        }

        svg {
            height: clamp(0rem, 5vw, 1.5rem);
            transition: all 0.7s ease-in-out;
        }
    }
}

section.home-second-section .home-second-section-content .home-section-services-card:hover {
    cursor: pointer;
    box-shadow: inset 0 -1700px 1000px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
    transition: all 0.7s ease-in-out;

    .home-section-services-card-title {
        transform: translateY(0);
        flex-direction: column;
        align-items: center;
        transition: all 0.7s ease-in-out;

        span {
            width: 100%;
            transition: all 0.7s ease-in-out;
        }

        svg {
            width: 100%;
            transition: all 0.7s ease-in-out;
        }

    }
}

/* Third Section */

section.home-third-section {
    padding: 0 clamp(0rem, 5vw, 5.13rem);
}

section.home-third-section .home-third-section-content {
    padding-top: clamp(0rem, 5vw, 6rem);
}

section.home-third-section .home-third-section-content .section-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(0rem, 5vw, 3.125rem);
    align-items: stretch;
}

section.home-third-section .home-third-section-content .section-card-container .working-section-card {
    padding: clamp(0rem, 5vw, 3.375rem) clamp(0rem, 5vw, 5.75rem);
    width: calc(calc(100% - clamp(0rem, 5vw, 3.125rem)) / 2);
    transition: all 0.2s ease-in-out;
    

    .working-section-card-index {
        font-size: clamp(0rem, 5vw, 2rem);
        font-family: 'Fixel SemiBold', sans-serif;
        margin-bottom: clamp(0rem, 5vw, 0.75rem);
    }

    .working-section-card-title {
        font-size: clamp(0rem, 5vw, 2rem);
        font-family: "Fixel Regular", sans-serif;
        margin-bottom: clamp(0rem, 5vw, 1.5rem);
    }

    .working-section-card-description {
        font-size: clamp(0rem, 5vw, 1.25rem);
        font-family: 'Fixel Light', sans-serif;
        color: rgba(0, 0, 0, 0.37);
    }
}

section.home-third-section .home-third-section-content .section-card-container .working-section-card:hover {
    transform: translateY(-10px);
    background-color: #0C646D;
    color: #fff;
    cursor: default;

    .working-section-card-description {
        color: rgba(255, 255, 255, 0.65);
    }
}

section.home-third-section .home-third-section-content .image-collage {
    padding-left: clamp(0rem, 5vw, 8.25rem);
    gap: clamp(0rem, 5vw, 1.875rem);
}

section.home-third-section .home-third-section-content .image-collage img {
    object-fit: cover;
    object-position: 75% 50%;
}

section.home-third-section .home-third-section-content .image-collage .dual-images {
    gap: clamp(0rem, 5vw, 1.875rem);
}

@media (min-width: 0px) and (max-width: 1200px) {
    section.home-hero-section {
        padding-top: 0;
    }

    section.home-hero-section .hero-text {
        padding-left: 0;
        padding-right: 0;
    }

    .home-section-services-card-title {
        transform: translateY(0) !important;
        align-items: end;
    }

    section.home-third-section .home-third-section-content .section-card-container {
        padding: clamp(0rem, 5vw, 1.38rem);
    }

    section.home-third-section .home-third-section-content .section-card-container .working-section-card {
        width: 100%;
    }
}