.home-page {
    margin-top: clamp(2rem, 5vw, 3rem);
    padding: 0 clamp(1rem, 5vw, 5rem);
}

.home-page .home-hero-section .hero-section-left img:nth-child(1) {
    height: clamp(12rem, 20vw, 18.75rem);
    aspect-ratio: 9/16;
    object-fit: cover;
}
.home-page .home-hero-section .hero-section-left img:nth-child(2) {
    height: clamp(20rem, 25vw, 29.75rem);
    aspect-ratio: 9/16;
    object-fit: cover;
}

.home-page .home-hero-section .hero-section-center .hero-section-title h1 {
    font-family: 'Fixel Regular', sans-serif;
    font-size: clamp(1.5rem, 5vw, 5.5rem);
    font-weight: 800;
    line-height: 1;
}

.home-page .home-hero-section .hero-section-center .hero-section-subtitle h3 {
    font-family: 'Urbanist', sans-serif;
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: 400;
    line-height: 1.5;
    color: #8f8f8f;
}

.home-page .home-hero-section .hero-section-right img:nth-child(1) {
    height: clamp(20rem, 25vw, 29.75rem);
    aspect-ratio: 9/16;
    object-fit: cover;
}
.home-page .home-hero-section .hero-section-right img:nth-child(2) {
    height: clamp(12rem, 20vw, 18.75rem);
    aspect-ratio: 9/16;
    object-fit: cover;
}