/* Navbar */
.navbar .logo-box {
    padding-left: clamp(0rem, 5vw, 1.5rem);
    padding-top: clamp(0rem, 5vw, 1.87rem);
}

.navbar .logo-box img {
    height: clamp(2rem, 5vw, 3.75rem);
}

.navbar .contact-btn {
    padding-right: clamp(0rem, 5vw, 2rem);
    padding-top: clamp(0rem, 5vw, 2.12rem);
}

.navbar .contact-btn a {
    padding: clamp(0px, 5vw, 7px) clamp(0rem, 5vw, 1.2rem);
    gap: 0.5rem;
}

.navbar .contact-btn a span {
    font-size: clamp(0rem, 5vw, 1.5rem);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    letter-spacing: 0.8px;
    color: #303030;
}

.navbar .contact-btn svg {
    height: clamp(0rem, 5vw, 1.5rem);
    fill: #303030;
}

.navbar .nav-links {
    gap: clamp(0rem, 5vw, 3.37rem);
    padding-top: clamp(0rem, 5vw, 2.5rem);
}

.navbar .nav-links a {
    font-size: clamp(0rem, 5vw, 1.5rem);
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #8F8F8F;
    transition: color 0.3s ease-in-out;
}

.navbar .nav-links a.active {
    color: #303030;
    font-weight: 600;
}